In [27]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [28]:
df = pd.read_csv("scrape.csv", encoding = 'utf-16')

In [29]:
df

,Company,ICO,City,Region,Employees,Sales,Origin
0,agentúra alpia s. r. o.,36840653,Martin,žilinský,3-4,39 441,29.9.2007
1,POK s.r.o.,36840637,Bratislava,bratislavský,nezistený,9 214,29.9.2007
2,Grand Imperial,36840335,Bratislava,bratislavský,nezistený,102 575,29.9.2007
3,REALCONSULT,36840530,Humenné,prešovský,nezistený,23 060,29.9.2007
4,Stážista,36840394,Bratislava,bratislavský,nezistený,0,29.9.2007
...,...,...,...,...,...,...,...
20015,CUBES s.r.o.,36671240,Bratislava,bratislavský,nezistený,41 316,5.9.2006
20016,Ewald Kraml,36670693,Stará Ľubovňa,prešovský,3-4,199 659,5.9.2006
20017,STEM Slovakia s.r.o.,36671185,Bratislava,bratislavský,2,328 175,5.9.2006
20018,E.I.C.Engineering inspection company s.r.o.,36670901,Prešov,prešovský,20-24,826 803,5.9.2006
20019,SLOVAKIA globtravel,36671339,Podkonice,banskobystrický,3-4,101 033,5.9.2006

In [30]:
#replacing NaN (and other types) with 0´s

In [31]:
df['Sales'] = df['Sales'].str.replace('\xa0','')

In [32]:
df['Sales'] = df['Sales'].fillna(0)

In [33]:
df['Sales'] = df['Sales'].astype(int)

In [34]:
df['Employees'] = df['Employees'].str.replace('nezistený','0')

In [35]:
df['Employees'] = df['Employees'].str.split("-")

In [36]:
for i in range(len(df['Employees'])):
    if len(df['Employees'][i]) > 1: # if len > 1 ... e.g. [3,4] after spilitng from "3-4"
        for y in range(len(df['Employees'][i])): 
            df['Employees'][i][y] = int(df['Employees'][i][y]) # conversion to int
        df['Employees'][i] = (df['Employees'][i][0]+df['Employees'][i][-1])//2 # average with floor division
            
    else:
        if df['Employees'][i][-1] == '+': 
            df['Employees'][i] = df['Employees'][i][:-1]
        else:    
            df['Employees'][i] = "".join(df['Employees'][i])

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20020 entries, 0 to 20019
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    20019 non-null  object
 1   ICO        20020 non-null  int64
 2   City       20017 non-null  object
 3   Region     20005 non-null  object
 4   Employees  20020 non-null  object
 5   Sales      20020 non-null  int32
 6   Origin     20020 non-null  object
dtypes: int32(1), int64(1), object(5)
memory usage: 1016.8+ KB

In [38]:
df.dropna(inplace = True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20003 entries, 0 to 20019
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Company    20003 non-null  object
 1   ICO        20003 non-null  int64
 2   City       20003 non-null  object
 3   Region     20003 non-null  object
 4   Employees  20003 non-null  object
 5   Sales      20003 non-null  int32
 6   Origin     20003 non-null  object
dtypes: int32(1), int64(1), object(5)
memory usage: 1.1+ MB

In [40]:
df.reset_index(inplace = True, drop = True)

In [41]:
df

,Company,ICO,City,Region,Employees,Sales,Origin
0,agentúra alpia s. r. o.,36840653,Martin,žilinský,3,39441,29.9.2007
1,POK s.r.o.,36840637,Bratislava,bratislavský,0,9214,29.9.2007
2,Grand Imperial,36840335,Bratislava,bratislavský,0,102575,29.9.2007
3,REALCONSULT,36840530,Humenné,prešovský,0,23060,29.9.2007
4,Stážista,36840394,Bratislava,bratislavský,0,0,29.9.2007
...,...,...,...,...,...,...,...
19998,CUBES s.r.o.,36671240,Bratislava,bratislavský,0,41316,5.9.2006
19999,Ewald Kraml,36670693,Stará Ľubovňa,prešovský,3,199659,5.9.2006
20000,STEM Slovakia s.r.o.,36671185,Bratislava,bratislavský,2,328175,5.9.2006
20001,E.I.C.Engineering inspection company s.r.o.,36670901,Prešov,prešovský,22,826803,5.9.2006
20002,SLOVAKIA globtravel,36671339,Podkonice,banskobystrický,3,101033,5.9.2006